.App {
  text-align: center;
  padding: 30px;
}

.Header{
  margin: auto;
  padding-bottom: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* write your parent styles in here for your App.js */

.Header h1{
  color: black;
  text-shadow: 0 0 20px white, 0 0 15px white;
  cursor: default;
}

@media (min-width: 501px){
  .Header{
    flex-flow: row wrap;
  }

  .Header h1{
    margin: 20px;
    color: #443e3e
  }
}