.card-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.character-card{
    transition: 0.5s;
    padding:5px;
    margin: 10px;
    width: 275px;
    opacity: 0.8;
    border-radius: 15px;
}

.character-card li{
    text-align: left;
    margin: 10px 20px 20px;
}

.logo-container{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    opacity: 0.5;
    width: 50px;
    transition: 0.5s;
}

.logo:hover{
    opacity: 1;
    width: 60px;
}